.navbar{
    background-color: rgb(234,182,118);
}
/* body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
/* .heading {
    display: flex;
    justify-content: center;
    max-width: 100%;
} */

/* .form-container{
    position: absolute;
    
} */
